{{- if .Values.opentelemetry.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "sample-web-app.fullname" . }}-otel-collector
  labels:
    {{- include "sample-web-app.labels" . | nindent 4 }}
    app.kubernetes.io/component: otel-collector
spec:
  type: ClusterIP
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: otlp-grpc
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: otlp-http
      protocol: TCP
    - name: metrics
      port: 8888
      targetPort: metrics
      protocol: TCP
    {{- if .Values.opentelemetry.prometheus.enabled }}
    - name: prometheus
      port: 9090
      targetPort: prometheus
      protocol: TCP
    {{- end }}
  selector:
    {{- include "sample-web-app.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: otel-collector
{{- end }}
